<div class="bottom-nav">
  <button class="nav-item" [class.active]="isActive('/home')" (click)="goTo('/home')">
    <ion-icon name="home-outline"></ion-icon>
  </button>

  <button class="nav-item" [class.active]="isActive('/favorites')" (click)="goTo('/favorites')">
    <ion-icon name="heart-outline"></ion-icon>
    <span class="badge" *ngIf="favoritesCount > 0">{{ favoritesCount }}</span>
  </button>

  <button class="nav-item" [class.active]="isActive('/cart')" (click)="goTo('/cart')">
    <ion-icon name="cart-outline"></ion-icon>
    <span class="badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
  </button>

  <button class="nav-item" [class.active]="isActive('/profile')" (click)="goTo('/profile')">
    <ion-icon name="person-outline"></ion-icon>
  </button>
</div>