<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="login-page">

    <div class="top-section">
      <div class="brand">BlackNoise</div>
    </div>

    <div class="form-card">
      <h1>Iniciar sesión</h1>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="input-group">
          <label>Email</label>
          <ion-input type="email" formControlName="email" placeholder="tu@email.com" class="custom-input">
          </ion-input>
          <div class="error" *ngIf="email?.touched && email?.invalid">
            <span *ngIf="email?.errors?.['required']">El email es obligatorio</span>
            <span *ngIf="email?.errors?.['email']">Ingresa un email válido</span>
          </div>
        </div>

        <div class="input-group">
          <label>Contraseña</label>
          <ion-input type="password" formControlName="password" placeholder="••••••••" class="custom-input">
          </ion-input>
          <div class="error" *ngIf="password?.touched && password?.invalid">
            <span *ngIf="password?.errors?.['required']">La contraseña es obligatoria</span>
            <span *ngIf="password?.errors?.['minlength']">Mínimo 6 caracteres</span>
          </div>
        </div>

        <ion-button expand="block" type="submit" class="main-button">
          Ingresar
        </ion-button>
      </form>

      <div class="footer-link" (click)="goToRegister()">
        ¿No tienes cuenta? <strong>Regístrate</strong>
      </div>
    </div>

  </div>
</ion-content>