<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="register-container">
    <h2>Regístrate</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="name?.touched && name?.invalid">
        <p class="error-text" *ngIf="name?.errors?.['required']">El nombre es obligatorio.</p>
        <p class="error-text" *ngIf="name?.errors?.['minlength']">Mínimo 2 caracteres.</p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="email?.touched && email?.invalid">
        <p class="error-text" *ngIf="email?.errors?.['required']">El email es obligatorio.</p>
        <p class="error-text" *ngIf="email?.errors?.['email']">Ingresa un email válido.</p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="password?.touched && password?.invalid">
        <p class="error-text" *ngIf="password?.errors?.['required']">La contraseña es obligatoria.</p>
        <p class="error-text" *ngIf="password?.errors?.['minlength']">Mínimo 6 caracteres.</p>
      </ion-text>

      <ion-button expand="block" type="submit" class="ion-margin-top">
        Registrarme
      </ion-button>

    </form>

    <ion-button expand="block" fill="clear" (click)="goToLogin()">
      ¿Ya tienes cuenta? Inicia sesión
    </ion-button>
  </div>
</ion-content>